// ----- HTML

html {
  -webkit-font-smoothing: antialiased;
}

// --- Apply a natural box layout model to all elements
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

// ----- Body

body {
  background-color: $light;
  color: $dark;
}

::selection {
  background: $light;
  color: $brand-orange;
}

::-moz-selection {
  background: $light;
  color: $brand-orange;
}

// ----- Paragraphs

// ----- Links

a {
  text-decoration: none;
  &:link, &:visited, &:active  {color: $brand-orange; font-weight:bold;}
  &:hover { color: $brand-orange-hover;}
  &:active, &:hover {outline: none;}
}

a img {border: none;}

// ----- Table

table { border-collapse: collapse; }