/* Layout */
/* Main pae layout, collumns, etc etc  */

// Main Content
// ------------------------------------------------------------

.content {
  @extend %clearfix;
  width:960px;
  position:relative;
  margin:50px auto;
}

form#luvver {
  float:left;
  width:220px;
  padding:20px;
  ul {
    @include list_style_none;
    margin-top: 5px;
  }
  .form-wrap {
    @extend %clearfix;
    input#paragraphs {float:right;}
  }
  input[type="submit"] {
    margin-top: 5px;
  }
}

.output {
  display:none;
  float:right;
  width:600px;
  margin-left:20px;
  font-size: 13px;
  margin: 0;
  line-height: 1.45;
  padding: 40px;
  display:block;
}


footer.site-footer {
  width:960px;
  color:#fff;
  text-align:center;
  margin:0 auto 50px auto;
  display: block;
  clear: both;
} 

// Clearfix
// ------------------------------------------------------------

%clearfix {
   &:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
  }
}