.site-header {
  background: url(/assets/images/bristol-min.jpg) no-repeat top left fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.site-title {
  width: 209px;
  height: 189px;
  margin: 0 auto;
  background: url(/assets/images/brizzle-ipsum.png) no-repeat 0 38px;
  @extend %image-replacement;
  a {
    display: block; 
    height: 97px;
    margin: 21px 0 20px 0;
    border-bottom: 0;
  }
}

.site-title:before {
  content: ".";
  display: block;
  width: 138px;
  height: 18px;
  margin: 0 auto;
  background: url(/assets/images/five-stars.png) no-repeat 0 0;
  @extend %image-replacement;
}

.site-title:after {
  content: "Made in Bristol";
  display: block;
  width: 136px;
  height: 34px;
  margin: 0 auto 0;
  background: url(/assets/images/made-in-bristol.png) no-repeat 0 0;
  @extend %image-replacement;
}

.main-content .block.output {
  padding: 20px 0 0 0;
  color:$body-color;
}

.site-footer {
  color:$dark;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid $light-grey;
  p {
    margin:0;
    text-align:center;
  }
}

.site-footer p.beef-love {
  width:71px;
  height:33px;
  background: url(/assets/images/beef-logo-alt.png) no-repeat 0 0;
  margin: 0 auto 20px auto;
  @extend %image-replacement;
  a {
    display:block;
    height:33px;
  }
}

// --- Form Styling

.form-block {
  @extend %clearfix;
  background-color:$light;
  padding-top: 10px;
  margin-top: 30px;
  margin-bottom:30px;
  border-top: 1px solid $light-grey;
}

.form-block form {
  padding-top:30px;
  @extend %clearfix;
  .input-wrap {
    margin-bottom:5px;
    ul {@include list_style_none;}

    input[type="checkbox"],
    input[type="radio"] {
      margin-right: 10px;
      position:relative;
      top:2px;
    }

  }
  .input-wrap:first-child {margin-left:0;}
}

form .input-wrap ul {
  margin-top:10px;
  li {
    margin-top:6px;
    &:first-child {margin-top:0;}
  }
}

form .input-wrap.count {
  label {margin-right:10px;}
  input {width:60px; margin-top:10px}
}

form .input-wrap.submit {margin-top:20px;}

// --- Media Queries

@media (min-width: 1250px) {

  form .input-wrap.count label{display:block;}

  .site-footer p {
    float:right;
    &.beef-love {
      float:left;
      margin-bottom:0;
    }
  }

}

@media (min-width: 900px) {

  .site-title {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .main-content .block.output {
    padding: 50px 0 0 0;
  }

  .site-footer {
    color:#818082;
    padding-top: 0;
    padding-bottom: 0;
    border-top: 0;
    p {text-align:left;}
    p.beef-love {
      margin:5px 0 20px 0;
      background: url(/assets/images/beef-logo.png) no-repeat 0 0;
    }
  }

}

@media (min-width: 650px) {

  form .input-wrap {
    float: left;
    width: 32%;
    margin-left: 1.665%;
  }

}
