/* Typography */
/* Color and theme styles */

// Main Content
// ------------------------------------------------------------

 .output, form#luvver {
  color: #f0f0f0;
}

// Footer
// ------------------------------------------------------------

// Image Replacement
// ------------------------------------------------------------

%image-replacement {
   overflow: hidden;
   text-align: left;
   display: block;
   line-height:0;
   text-indent: -1000em;
}