// ----- Font Face

// ----- Font Sizing

// @include font_size(14);

// ----- Font Styling

// Bold
// {font-weight: bold;}

// Italic
// {font-style: italic;}

// Underline
// {text-decoration: underline;}

// Normal
// {font-weight: normal !important; font-style: normal !important;}
// {font-weight: normal !important;}
// {font-style: normal !important;}

// Text Transform
// {text-transform: uppercase;}
// {text-transform: none;}

// Line Height 

// Letter spacing 