/* Typography */
/* Font families, sizes and styles */

// Base Fonts
// ------------------------------------------------------------

@import url(http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html, body, textarea, input {
  font-family: 'Open Sans', sans-serif;
  font-size : (($basefont * 100) / 16) + 0%;
  word-spacing:2px;
}

form, input, footer {@include font_size(12);}

.output {font-family: 'Gentium Book Basic', serif;}

h1 {@include font_size(40);}