// ----- Font Face

body {
  font-size: 100%;
  font-family: 'Alegreya', serif;
}

.site-footer p, form {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

// ----- Font Sizing

.main-content .output {@include font_size(16);}

.site-footer {@include font_size(12);}

// ----- Font Styling

// Bold
// {font-weight: bold;}

// Italic
// {font-style: italic;}

// Underline
// {text-decoration: underline;}

// Normal
// {font-weight: normal !important; font-style: normal !important;}
// {font-weight: normal !important;}
// {font-style: normal !important;}

// Text Transform
// {text-transform: uppercase;}
// {text-transform: none;}

// Line Height 

// Letter spacing 